#site-logo{
  width: 35%;
}
body{
  margin-left: 10%; 
  margin-right: 10%;
}

#menu{
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 1.5em;
}
p, h1, h3, h4{
  font-family: 'Molengo', sans-serif;
}
a{
  color: #d1809f;
}
a:visited{
  color: #d1809f;
}
#content{
}
body{
  background-color: rgba(10,10,10,0.1);
  padding-bottom: 5%;
}
