#site-logo{
  font-size: 3em;
  color: rgb(74, 25, 121);
  font-family: 'Cabin Sketch', cursive;
}
section, #menu, header{
  text-align: center;
  align-items: center;
  margin-left: 10%; 
  margin-right: 10%;
}
section{
  min-height: 70vh;
}
a{
  font-family: 'Cabin Sketch', cursive;
  color: #332066;
}
a:visited{
  color: #332066;
}
#menu{
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5em;
}
p, h1, h2, h3, h4, h5{
  text-align: center;
  font-family: 'Inter', sans-serif;
}
body{
  background-color: #cfcfcf7c;
  margin: 0;
}
.image{
  height: 20rem;
}
.footer{
  font-size: small;
  padding-top: 10px;
  align-content: center;
  text-align: center;
  background-color: rgb(105, 89, 121);
  color: white;
  bottom: 0;
  position: sticky;
  font-family: 'Cabin Sketch', cursive;
  height: 5em;
  width: 100%;
}
.footer > a{
  color: white;
}